In [1]:
# # This Python 3 environment comes with many helpful analytics libraries installed
# # It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# # For example, here's several helpful packages to load

# import numpy as np # linear algebra
# import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# # Input data files are available in the read-only "../input/" directory
# # For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# # You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# # You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import numpy as np
import pandas as pd

meta = pd.read_csv('/kaggle/input/the-movies-dataset/movies_metadata.csv')
meta

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [3]:
meta.loc[0, 'genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [4]:
txt = "[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

# def str_to_set(x):
#     genre_set = set()
#     for item in eval(x):
#         genre_set.add(item['name'])
#     return genre_set

In [5]:
# meta.loc은 데이터프레임에서 자료를 조회할 때 사용하는 명령어
# 행, 열
# 행, 열 부분에 넣을 수 있는 것:
#   1. 행 또는 열의 이름
#   2. : (콜론)
#   3. 리스트 ['title', language]
#   4. Series

# meta.loc[4, :]
# # meta.loc[:, 'title']
# meta["title"]

meta

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [6]:
def str_to_set(x):
    return set(item['name'] for item in eval(x))

meta = pd.read_csv('/kaggle/input/the-movies-dataset/movies_metadata.csv')
meta = meta[['id', 'original_title', 'original_language', 'genres']]
meta = meta.rename(columns={'id':'movieId','original_title': 'title','original_language': 'language'})
meta = meta.loc[meta['language'] == 'en', :]

# meta['movieId'] = pd.to_numeric(meta['movieId'])
meta.movieId = pd.to_numeric(meta.movieId)
meta.genres = meta.genres.apply(str_to_set)

meta

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,movieId,title,language,genres
0,862,Toy Story,en,"{Comedy, Animation, Family}"
1,8844,Jumanji,en,"{Family, Adventure, Fantasy}"
2,15602,Grumpier Old Men,en,"{Comedy, Romance}"
3,31357,Waiting to Exhale,en,"{Comedy, Romance, Drama}"
4,11862,Father of the Bride Part II,en,{Comedy}
...,...,...,...,...
45459,222848,Caged Heat 3000,en,{Science Fiction}
45460,30840,Robin Hood,en,"{Action, Romance, Drama}"
45463,67758,Betrayal,en,"{Action, Thriller, Drama}"
45464,227506,Satana likuyushchiy,en,{}
45465,461257,Queerama,en,{}

In [7]:
keywords = pd.read_csv('/kaggle/input/the-movies-dataset/keywords.csv')
keywords.keywords = keywords.keywords.apply(str_to_set)

keywords.id = pd.to_numeric(keywords.id)
keywords = keywords.rename(columns={'id': 'movieId'})

keywords.movieId = pd.to_numeric(keywords.movieId)
keywords

       movieId                                           keywords
0          862  {rivalry, friendship, friends, jealousy, boy n...
1         8844  {new home, disappearance, board game, based on...
2        15602  {fishing, old men, best friend, duringcreditss...
3        31357  {chick flick, single mother, interracial relat...
4        11862  {baby, mother daughter relationship, gynecolog...
...        ...                                                ...
46414   439050                                      {tragic love}
46415   111109                              {pinoy, artist, play}
46416    67758                                                 {}
46417   227506                                                 {}
46418   461257                                                 {}

[46419 rows x 2 columns]

In [8]:
meta = pd.merge(meta, keywords, on='movieId', how='inner')
meta

,movieId,title,language,genres,keywords
0,862,Toy Story,en,"{Comedy, Animation, Family}","{rivalry, friendship, friends, jealousy, boy n..."
1,8844,Jumanji,en,"{Family, Adventure, Fantasy}","{new home, disappearance, board game, based on..."
2,15602,Grumpier Old Men,en,"{Comedy, Romance}","{fishing, old men, best friend, duringcreditss..."
3,31357,Waiting to Exhale,en,"{Comedy, Romance, Drama}","{chick flick, single mother, interracial relat..."
4,11862,Father of the Bride Part II,en,{Comedy},"{baby, mother daughter relationship, gynecolog..."
...,...,...,...,...,...
32847,222848,Caged Heat 3000,en,{Science Fiction},{}
32848,30840,Robin Hood,en,"{Action, Romance, Drama}",{}
32849,67758,Betrayal,en,"{Action, Thriller, Drama}",{}
32850,227506,Satana likuyushchiy,en,{},{}
32851,461257,Queerama,en,{},{}

In [10]:
dk = meta.loc[meta.title == 'The Dark Knight', :].iloc[0,:]
fk = meta.loc[meta.title == 'Prom Night', :].iloc[0,:]
dkr = meta.loc[meta.title == 'The Dark Knight Rises', :].iloc[0,:]
toy = meta.loc[meta.title == 'Toy Story', :].iloc[0,:]


dk_set = dk.genres | dk.keywords
fk_set = fk.genres | fk.keywords
dkr_set = dkr.genres | dkr.keywords
toy_set = toy.genres | toy.keywords

def jaccard_similarity(s1, s2):
    if len(s1|s2) == 0:
        return 0
    return len(s1&s2)/len(s1|s2)

jaccard_similarity(dk_set, fk_set)

0.022222222222222223

In [14]:
ratings = pd.read_csv('/kaggle/input/the-movies-dataset/ratings_small.csv')
ratings.movieId = pd.to_numeric(ratings.movieId)

ratings = pd.merge(ratings, meta[['movieId', 'title']], on='movieId', how='inner')
ratings

       userId  movieId  rating   timestamp              title
0           1     1371     2.5  1260759135          Rocky III
1           4     1371     4.0   949810302          Rocky III
2           7     1371     3.0   851869160          Rocky III
3          19     1371     4.0   855193404          Rocky III
4          21     1371     3.0   853852263          Rocky III
...       ...      ...     ...         ...                ...
33295     652   127728     5.0  1439586990               8:46
33296     652   129009     4.0  1442690827     Love Is a Ball
33297     653     2103     3.0   948161066            Solaris
33298     659      167     4.0   836137550              K-PAX
33299     659      563     3.0   834694187  Starship Troopers

[33300 rows x 5 columns]

In [16]:
matrix = ratings.pivot_table(index= 'userId', columns= 'title', values='rating')
matrix

title,!Women Art Revolution,'Gator Bait,'Twas the Night Before Christmas,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 + 1,12 Angry Men,1408,...,Young and Innocent,Zaat,Zabriskie Point,Zapped Again!,Zardoz,Zodiac,eXistenZ,xXx,¡Three Amigos!,Мой сводный брат Франкенштейн
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
def pearson_similarity(u1, u2):
    u1_c = u1 - u1.mean()
    u2_c = u2 - u2.mean()
    denom = ((u1_c ** 2).sum() * (u2_c ** 2).sum()) ** 0.5
    
    if denom == 0:
        return 0
    else:
        return (u1_c * u2_c).sum()/denom

In [28]:
dk_rating = matrix['The Dark Knight']
pn_rating = matrix['Prom Night']
pearson_similarity(dk_rating, pn_rating)

0.773565934694095

In [44]:
def find_similar_movies(input_title, n, alpha):
    input_meta = meta.loc[meta['title'] == input_title].iloc[0]
    input_set = input_meta.genres | input_meta.keywords
    results = []
    
    for this_title in matrix.columns:
        if this_title == input_title:
            continue
        
        this_meta = meta.loc[meta['title'] == this_title].iloc[0]
        this_set = this_meta.genres | this_meta.keywords
        
        jaccard = jaccard_similarity(this_set, input_set)
        pearson = pearson_similarity(matrix[this_title], matrix[input_title])

        score = alpha * pearson + (1 - alpha) * jaccard
        results.append((this_title, pearson, jaccard, score))
        
    results.sort(key= lambda r: r[3], reverse= True)
    
    return results[:n]

In [45]:
res = find_similar_movies("The Dark Knight", 10, 0.5)
res

[('Wild Wild West', 0.773565934694095, 0.03225806451612903, 0.402911999605112),
 ('Prom Night', 0.773565934694095, 0.022222222222222223, 0.3978940784581586),
 ('Ludwig', 0.4727180852203643, 0.03333333333333333, 0.2530257092768488),
 ('Yamakasi - Les samouraïs des temps modernes',
  0.3771445116444287,
  0.125,
  0.2510722558222144),
 ('El asaltante', 0.44694920671214383, 0.04, 0.2434746033560719),
 ('Midnight in the Garden of Good and Evil',
  0.37384099242466423,
  0.1111111111111111,
  0.24247605176788767),
 ('Sneakers', 0.41582996031224023, 0.06896551724137931, 0.24239773877680976),
 ('Topaz', 0.3771445116444286, 0.10344827586206896, 0.24029639375324877),
 ('Godzilla', 0.4131411129338466, 0.05263157894736842, 0.2328863459406075),
 ('Bushwhacked', 0.39608096134212234, 0.06451612903225806, 0.2302985451871902)]

In [42]:
pd.DataFrame(res, columns = ['title', 'pearson', 'jaccard', 'score'])

                                         title   pearson   jaccard     score
0                               Wild Wild West  0.773566  0.032258  0.402912
1                                   Prom Night  0.773566  0.022222  0.397894
2                                       Ludwig  0.472718  0.033333  0.253026
3  Yamakasi - Les samouraïs des temps modernes  0.377145  0.125000  0.251072
4                                 El asaltante  0.446949  0.040000  0.243475
5      Midnight in the Garden of Good and Evil  0.373841  0.111111  0.242476
6                                     Sneakers  0.415830  0.068966  0.242398
7                                        Topaz  0.377145  0.103448  0.240296
8                                     Godzilla  0.413141  0.052632  0.232886
9                                  Bushwhacked  0.396081  0.064516  0.230299

In [43]:
res = find_similar_movies("Rocky III", 10, 0.5)
pd.DataFrame(res, columns = ['title', 'pearson', 'jaccard', 'score'])

IndexError: single positional indexer is out-of-bounds